---
layout: default
---
%header#overview.jumbotron.subhead
  .row
    .span12
      .page-header
        %h1 Community
        %p.lead
          We love contributors!
      %h2 How to contribute
      %p We love contributions! We really need your help to make PerfCake even more a piece of a cake, so please join our community!
      %p Many thanks to all of our existing contributors! But we're greedy, we want more! PerfCake is great, but it can be better! :). We have lots of extensions, generators, senders, validators, reporters... that can be improved and we want more of them!
      %p Here's some notes to help you get started:
      
      %h3 Getting Started
      %ul
        %li Make sure you have a GitHub account as you'll need it to submit issues, comments or pull requests.
        %li Got any ideas for how we can improve PerfCake? Please submit an issue with your thoughts. Constructive criticism is always greatly appreciated!
        %li Fancy submitting any nice screenshots of how you're using PerfCake? A quick Youtube screencast would be even better or a blog post/article we can link to? Just submit an issue (or fork and patch the website) and we'll merge it into our website.
        %li Fancy submitting your cool new dashboard configuration or some wiki docs? See below on how to do that…
        %li Search our issue tracker and see if there's been any ideas or issues reported for what you had in mind; if so please join the conversation in the comments.
        %li Submit any issues, feature requests or improvement ideas our issue tracker.
        %ul
          %li Clearly describe the issue including steps to reproduce when it is a bug.
          %li Make sure you fill in the earliest version that you know has the issue.

      %h3 Fancy hacking some code?
      %ul
        %li If you fancy working on some code, check out the these lists of issues:
        %ul
          %li open apprentice tasks - which are moderately easy to fix and tend to have links to which bits of the code to look at to fix it or
          %li all open issues if you fancy being more adventurous.
          %li good ideas if you're feeling like a ninja and fancy tackling our harder issues that tend to add really cool new features!
        %li To make code changes, fork the repository on GitHub then you can hack on the code. We love any contribution such as:
        %ul
          %li fixing typos
          %li improving the documentation or embedded help
          %li writing new test cases or improve existing ones
          %li adding new features
          %li improving the layout / design / CSS

      %h3 Submitting changes to hawtio
      %ul
        %li Push your changes to your fork of the hawtio repository.
        %li Submit a pull request to the repository in the PerfCake organization.
        %li If your change references an existing issue then use “fixes #123” in the commit message (using the correct issue number ;).
