---
layout: default
---
.row-fluid
  .page-header.jumbo
    %h1 
      %i.fa.fa-forward
      Get Started
    %p.lead Get your performance benchmark running in 5 minutes.
.row
  .col-lg-12
    %h3 
      Your first performance test
    %p
      The quickstart is now part of the documentation and you can see it online.
    %p
      %a.btn.btn-primary.btn-big{:href=>"#{site.base_url}/docs/user-guide/ug.introduction.first-performance.test.html"}
        %i.fa.fa-play
        Start the tutorial &raquo;