---
layout: default
---
.row-fluid
  .page-header
    %h1 
      %i.icon-time
      Get Started
    %p.lead Get your performance benchmark running in 5 minutes.
.row
  .span4
    %h3 
      %i.icon-download-alt
      Your first performance test
    %p
      %a.btn{ :href=>"#{site.base_url}/user-guide/ug.introduction.first-performance.test.html" } Start the tutorial &raquo;